body{
    text-align: center;
    margin-left: 0;
    align-items: center;
    justify-content: center;
}

.accueil{
    display: flex;
    align-items: center;
    justify-content: center;
    background: blue;
    margin: 0 auto;
    padding: 20%;
    text-align: center;
}

.centre{
    margin: auto;
    width: auto;
    height: auto;
    background: blueviolet;
}

.logo_complet {
    max-width: 34%;
    height: auto;
}

.alerte{
    color: red;
    font-weight: bold;
}